.contentContainer {
  padding: 0;
}

.graphText {
  text-decoration: underline;
  color: #a1a1a1;
  padding-top: 3rem;
}

.balanceContainer {
  display: grid;
  grid-column-start: [graph];
  grid-column-end: [endSpacing];
  background-color: #939496;
  color: white;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  align-items: center;
}

.portfolioTotal {
  margin-bottom: 3vh;
}

.graphText,
.portfolioTotal {
  font-size: 1.5rem;
}

.graphText,
.balanceContainer {
  font-weight: 500;
}

@media screen and (max-width: 1120px) {
    .balanceContainer {
        width: 15rem;
        height: 15rem;
    }
}
  
  @media screen and (min-width: 1121px) {
    .balanceContainer {
        width: 20vw;
        height: 20vw;
        min-width: 15rem;
        min-height: 15rem;
    }
  }