button {
    background-color: #d1d1d1;
    padding: 0.35rem 1.35rem 0.35rem 1.35rem;
    margin-right: 1rem;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

.contentContainer {
    margin-left: 9vw;
}

.searchBar {
    padding-bottom: 2rem;
}

.buttonContainer {
    display: inline-block;
    padding-right: 3px;
}

.listContainer {
    position: absolute;
}

.cryptoList {
    display: grid;
    position: fixed;
    border: 1px solid #929292;
    background-color: #7c7c7c;
    bottom: 0px;
    top: 10.5rem;
    right: 10px;
}

@media screen and (max-width: 1120px) {
    .cryptoList {
        left: 13vw;
        min-width: 77vw;
    }
}

@media screen and (min-width: 1121px) {
    .cryptoList {
        left: 10.8vw;
    }
}