.payContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5em;
}

.payComponentHeader {
    border-bottom: 1px solid #aaaaaa;
    text-align: center;
    padding-bottom: 1rem;
}

.amountToSend {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.payInputContainer {
    border-top: 1px solid #aaaaaa;
    display: flex;
    flex-direction: column;
}

.selectAsset, .walletToPay, .toMessage, .assetAmount {
    display: inline-flex;
    padding: 0 1em 0 1em;
    align-items: center;
}

.selectAsset, .walletToPay, .assetAmount {
    border-bottom: 1px solid #aaaaaa;
}

.formLabel {
    padding-right: 1em;
    padding-bottom: 10px;
}

.formInput {
    padding-left: 1em;
}