.navbar {
  display: grid;
  grid-column-start: [navbar];
  grid-column-end: [contentArea];
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  flex-grow: 1;
}

.navbar-text {
  color: #bdbdbd;
}

.navbar-text:hover {
  color: #cfd1d1;
}

.navbarLogo {
  justify-content: start;
  top: 0px;
  left: 0px;
  padding-top: 1vh;

}

.navbar-tab {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1120px) {
  .navbarLogo {
    width: 3rem;
    height: 3rem;
  }
  .text {
    display: none;
  }
  .icon {
    display: inline-block;
  }
}

@media screen and (min-width: 1121px) {
  .navbarLogo {
    width: 5rem;
    height: 5rem;
  }
  .text, .icon {
    display: inline-block;
    vertical-align: middle;
  }
  .text {
    position: relative;
    padding-left: 0.3rem;
    padding-bottom: 0.45rem;
  }
  /*
  .icon {
    display: none;
  }
  */
}

.iconSettings {
  height: 25px;
  width: 25px;
  color: white;
}

.navbarLogo, .iconSettings {
  filter: invert(75%);
}