/* 
This is for assistance with styling
Adds a border around all elements of a page

* {
    border: 0.5px solid;
    border-color: rgb(255, 171, 171);
}

*/

.gridContainer {
    display: grid;
    grid-template-columns: [navbar] 10vw [contentArea] 90vw;
    grid-template-rows: [header] 5vh [dataArea] 95vh;
    color: #bdbdbd;
    height: 100%;
}

.headerContainer {
    display: flex;
    border-bottom: 2px solid #aaaaaa;
}

.headerText {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-start;
    margin-left: 1em;
}

.buttonContainer {
    display: flex;
    flex: 50% 0 0;
    justify-content: flex-end;
    padding-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.balanceContainer, .indexContainer {
    justify-content: center;
}

.balanceContainer {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.indexContainer {
    display: block;
    position: relative;
    color: #bdbdbd;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding-top: 6rem;
}

.listContainer {
    position: relative;
}

.displayCryptoContent {
    display: flex;
    justify-content: center;
    border-top: 1px solid #aaaaaa;
}

@media screen and (max-width: 1120px) {
    .displayCryptoContent {
        left: 13vw;
        min-width: 77vw;
    }
}

@media screen and (min-width: 1121px) {
    .displayCryptoContent {
        left: 10.8vw;
    }
}