.popoverContainer {
    display: flex;
}

.popover {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popoverHeader {
    display: flex;
    border-bottom: solid 2px #86898a;
    color: #404141;
}

.buyHeaderText {
    float: left;
    padding-left: 4em;
}

.receiveHeaderText {
    float: right;
    margin-left: auto;
    padding-right: 4em;
}