.balanceContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.balanceText {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  padding-right: 0.2em;
}

.dropdownContainer {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.assetList {
  position: relative;
}

.chartContainer {
  border: 1px solid #929292;
  margin-left: auto;
  margin-right: auto;
  background-color: #888888;
  color: #d4d4d4;
}

.chartTitle {
    padding-right: 0.15rem;
}

.chartTitle, .cryptoValue {
    display: inline-block;
}

/*
@media screen and (max-width: 1120px) {
  .chartContainer {
    left: 10.5vw;
  }
}

@media screen and (min-width: 1121px) {
  .chartContainer {
    left: 10.5vw;
  }
}
*/